
div[id*='_resultsOutput'] .AdminDataTable tbody td:first-child{
       width: 25%;
       min-width: 20%;
}

.content div[id*='_resultsOutput'] .AdminDataTable tbody tr td{
       font-size: 0.9em;
}


/* copied from the image css */

.Inputfields > li > .ui-widget-content > ul.InputfieldImagesSelectList > li,
.Inputfields > li > .InputfieldContent > ul.InputfieldImagesSelectList > li {
    margin: 0 0 1em 0;
    position: relative;
    cursor: move;
}

    .InputfieldItemList .InputfieldContent.ui-state-hover {
        /* ajax upload drag over */
        background: none;
    }


    ul.InputfieldImagesSelectList li .InputfieldFileInfo,
    .AjaxUpload .InputfieldFileInfo {
        padding: 3px 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    ul.InputfieldImagesSelectList li .InputfieldFileInfo .InputfieldFileName {
        font-weight: bold;
    }
        ul.InputfieldImagesSelectList li .InputfieldFileInfo .InputfieldFileName:hover {
            text-decoration: underline;
            background: none;
        }

    ul.InputfieldImagesSelectList li .InputfieldFileInfo .InputfieldFileStats,
    .AjaxUpload .InputfieldFileStats {
        opacity: 0.65;
        font-size: 0.9166666em;
    }

    ul.InputfieldImagesSelectList li .ui-state-error .InputfieldFileName {
        text-decoration: line-through;
    }

    ul.InputfieldImagesSelectList li .InputfieldFileDelete {
        float: right;
    }
        ul.InputfieldImagesSelectList li .InputfieldFileDelete,
        ul.InputfieldImagesSelectList li .InputfieldFileDelete input {
            display: inline;
            font-weight: normal;
        }
            ul.InputfieldImagesSelectList li .InputfieldFileDelete input {
                position: absolute;
                top: 0;
                right: 0;
                display: none;
            }
            ul.InputfieldImagesSelectList li .InputfieldFileDelete span.ui-icon {
                float: right;
                padding: 0 2px;
                cursor: pointer;
            }

    ul.InputfieldImagesSelectList li .ui-icon {
        float: left;
    }

    .InputfieldFileEmpty .HideIfEmpty,
    .InputfieldFileSingle .HideIfSingle,
    .InputfieldFileMultiple .HideIfMultiple {
        display: none !important;
    }

    ul.InputfieldImagesSelectList li .InputfieldFileData {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1em;
    }

    ul.InputfieldImagesSelectList li .InputfieldFileLink {
        font-weight: bold;
        margin: 0.5em 0;
    }

    ul.InputfieldImagesSelectList li .InputfieldFileTags,
    ul.InputfieldImagesSelectList li .InputfieldFileDescription {
        font-weight: normal;
        margin: 0;
        /*
        padding: 0 1em 1em 1em;
        */
        /*
        margin: -0.25em 0 0 0;
        */
    }
        ul.InputfieldImagesSelectList li .InputfieldFileTags input,
        ul.InputfieldImagesSelectList li .InputfieldFileDescription input {
            width: 100%;
        }

        ul.InputfieldImagesSelectList li .InputfieldFileTags input {
            margin-bottom: 0.5em;
        }


    .InputfieldImagesSelect .InputfieldImagesIds,
    ul.InputfieldImagesSelectList li .InputfieldFileSort,
    ul.InputfieldImagesSelectList li .InputfieldFileRemoteImage {
        display: none;
    }

    ul.InputfieldImagesSelectListBlank + p.description {
        margin-top: 0;
    }




.InputfieldFileLanguageSupport .LanguageSupport {
    float: left;
    padding: 0;
}

.InputfieldFileLanguageSupport .LanguageSupport {
    padding-right: 0.5em;
}

@media only screen and (max-width: 767px) {
    .InputfieldFileLanguageSupport .LanguageSupport {
        float: none;
        display: block;
        padding: 0;
        width: 100% !important;
    }
}

.InputfieldFileLanguageSupport.stacked .LanguageSupport {
    /* same as above, but a class for JS to apply */
    float: none;
    display: block;
    padding: 0;
    width: 100% !important;
}









.InputfieldImagesSelect img {
    max-width: 90%;
}

.InputfieldImagesSelect a.InputfieldFileLink + label.InputfieldFileDescription,
.InputfieldImagesSelect a.InputfieldFileLink + label.InputfieldFileTags {
    margin-top: 0.5em;
}

.InputfieldImagesSelect a.InputfieldFileMove span.ui-icon {
    float: right;
    position: relative;
    top: 2px;
}
.InputfieldImage a.InputfieldFileMove {
    width: 20px;
    padding-right: 20px;
    visibility: hidden;
}

.ui-state-hover a.InputfieldFileMove {
    visibility: visible;
}
.ui-state-error a.InputfieldFileMove {
    display: none;
}


.InputfieldImagesSelect .InputfieldImage.template {
    display: none;
}




