div[id*='_resultsOutput']{
       width: 100%;
}

div[id*='_resultsOutput'] .AdminDataTable{
       width: 100%;
       /*table-layout: fixed;*/
}
div[id*='_resultsOutput'] .AdminDataTable tbody td .text{

       word-wrap: break-word;
}

div[id*='_resultsOutput'] .AdminDataTable tbody td:first-child{
       width: 10%;
       min-width: 10%;
}



div[id*='_resultsOutput'] .AdminDataTable tbody td:last-child{
       width: 10%;
       min-width: 10%;
}

.content div[id*='_resultsOutput'] .AdminDataTable tbody tr td{
    font-size: 0.9em;
    word-wrap: break-word;
}

.Inputfields > li > .ui-widget-content > ul.InputfieldImagesSelectList,
.Inputfields > li > .InputfieldContent > ul.InputfieldImagesSelectList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* copied from the image css */

.Inputfields > li > .ui-widget-content > ul.InputfieldImagesSelectList > li,
.Inputfields > li > .InputfieldContent > ul.InputfieldImagesSelectList > li {
    margin: 0 0 1em 0;
    position: relative;
    cursor: move;
}

    .InputfieldImagesSelectList .InputfieldContent.ui-state-hover {
        /* ajax upload drag over */
        background: none;
    }


    ul.InputfieldImagesSelectList li .InputfieldImagesSelectInfo,
    .AjaxUpload .InputfieldImagesSelectInfo {
        padding: 3px 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    ul.InputfieldImagesSelectList li .InputfieldImagesSelectInfo .InputfieldImagesSelectName {
        font-weight: bold;
    }
        ul.InputfieldImagesSelectList li .InputfieldImagesSelectInfo .InputfieldImagesSelectName:hover {
            text-decoration: underline;
            background: none;
        }

    ul.InputfieldImagesSelectList li .InputfieldImagesSelectInfo .InputfieldImagesSelectStats,
    .AjaxUpload .InputfieldImagesSelectStats {
        opacity: 0.65;
        font-size: 0.9166666em;
    }

    ul.InputfieldImagesSelectList li .ui-state-error .InputfieldImagesSelectName {
        text-decoration: line-through;
    }

    ul.InputfieldImagesSelectList li .InputfieldImagesSelectDelete {
        float: right;
    }
        ul.InputfieldImagesSelectList li .InputfieldImagesSelectDelete,
        ul.InputfieldImagesSelectList li .InputfieldImagesSelectDelete input {
            display: inline;
            font-weight: normal;
        }
            ul.InputfieldImagesSelectList li .InputfieldImagesSelectDelete input {
                position: absolute;
                top: 0;
                right: 0;
                display: none;
            }
            ul.InputfieldImagesSelectList li .InputfieldImagesSelectDelete span.ui-icon {
                float: right;
                padding: 0 2px;
                cursor: pointer;
            }

    ul.InputfieldImagesSelectList li .ui-icon {
        float: left;
    }

    .InputfieldImagesSelectEmpty .HideIfEmpty,
    .InputfieldImagesSelectSingle .HideIfSingle,
    .InputfieldImagesSelectMultiple .HideIfMultiple {
        display: none !important;
    }

    ul.InputfieldImagesSelectList li .InputfieldImagesSelectData {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1em;
    }

    ul.InputfieldImagesSelectList li .InputfieldImagesSelectLink {
        font-weight: bold;
        margin: 0.5em 0;
    }

    ul.InputfieldImagesSelectList li .InputfieldImagesSelectTags,
    ul.InputfieldImagesSelectList li .InputfieldImagesSelectDescription {
        font-weight: normal;
        margin: 0;
        /*
        padding: 0 1em 1em 1em;
        */
        /*
        margin: -0.25em 0 0 0;
        */
    }
        ul.InputfieldImagesSelectList li .InputfieldImagesSelectTags input,
        ul.InputfieldImagesSelectList li .InputfieldImagesSelectDescription input {
            width: 100%;
        }

        ul.InputfieldImagesSelectList li .InputfieldImagesSelectTags input {
            margin-bottom: 0.5em;
        }


    .InputfieldImagesSelect .InputfieldImagesIds,
    ul.InputfieldImagesSelectList li .InputfieldImagesSelectSort,
    ul.InputfieldImagesSelectList li .InputfieldImagesSelectRemoteImage {
        display: none!important;
    }

    ul.InputfieldImagesSelectListBlank + p.description {
        margin-top: 0;
    }




.InputfieldFileLanguageSupport .LanguageSupport {
    float: left;
    padding: 0;
}

.InputfieldFileLanguageSupport .LanguageSupport {
    padding-right: 0.5em;
}

@media only screen and (max-width: 767px) {
    .InputfieldFileLanguageSupport .LanguageSupport {
        float: none;
        display: block;
        padding: 0;
        width: 100% !important;
    }
}

.InputfieldFileLanguageSupport.stacked .LanguageSupport {
    /* same as above, but a class for JS to apply */
    float: none;
    display: block;
    padding: 0;
    width: 100% !important;
}







.InputfieldImagesSelect img {
    max-width: 90%;
}

.InputfieldImagesSelect a.InputfieldImagesSelecteLink + label.InputfieldImagesSelectDescription,
.InputfieldImagesSelect a.InputfieldImagesSelectLink + label.InputfieldImagesSelectTags {
    margin-top: 0.5em;
}

.InputfieldImagesSelect a.InputfieldImagesSelectMove span.ui-icon {
    float: right;
    position: relative;
    top: 2px;
}
.InputfieldImage a.InputfieldImagesSelectMove {
    width: 20px;
    padding-right: 20px;
    visibility: hidden;
}

.ui-state-hover a.InputfieldImagesSelectMove {
    visibility: visible;
}
.ui-state-error a.InputfieldImagesSelectMove {
    display: none;
}


.InputfieldImagesSelect .InputfieldImagesSelect.template {
    display: none;
}




